{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Aprendiendo Django{% endblock %}</title>
    <link
      rel="shortcut icon"
      href="{% static 'imgs/favicon.ico' %}"
      type="image/x-icon" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
  </head>
  <body>
    {% include 'bases/menu.html' %}
    <main class="content-wrapper mt-5" style="margin-top: 80px !important">
      <div class="container" style="width: 95% !important">
        {% block content %}
        <div class="row justify-content-center">
          <div class="col-md-12 mb-2">
            <h1 class="text-center mt-3">
              Hola Comunidad, sientanse todos Bienvenidos 😃 👍
              <hr />
            </h1>
          </div>
        </div>
        {% endblock %}
      </div>
    </main>

    {% include 'bases/scriptJS.html' %} {% block customJS %} {% endblock %}
  </body>
</html>
